name: Deploy Chart on PR Close

on:
  pull_request:
    types:
      - closed
    paths:
      - 'charts/**'
  workflow_dispatch: # Allows manual triggering

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false # Don't cancel chart deployments

jobs:
  on_chart_pr_close:
    name: Deploy Chart on PR Close
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        disable-sudo: true
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Configure Git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Install Helm
      uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    # This will release the chart to the gh-pages branch
    - name: Run Chart-Releaser
      uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
      with: 
        mark_as_latest: false
      env:
        CR_TOKEN: "${{ secrets.USER_PAT }}"
