name: Deploy Chart on PR Close

on:
  pull_request:
    types:
      - closed
    paths:
      - 'charts/**'
  workflow_dispatch: # Allows manual triggering

permissions:
  contents: read

jobs:
  on_chart_pr_close:
    name: Deploy Chart on PR Close
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
      with:
        disable-sudo: true
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Configure Git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Install Helm
      uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 # v4.2.0
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    # This will release the chart to the gh-pages branch
    - name: Run Chart-Releaser
      uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
      with: 
        mark_as_latest: false
      env:
        CR_TOKEN: "${{ secrets.USER_PAT }}"
